.q2 button{
  margin:20px;
  padding:25px;
  min-width: 140px;
}
.btnRight{
  float:right;
}
#q1 {
	display: none;
}
#q2 {
	display: none;

}
#q2a {
	display: none;

}
#q2b {
	display: none;

}
#q2c {
	display: none;

}
#q3 {

	display: none;
}
#thanks {

	display: none;
}
